<div class="block" id="block-text">
  <div class="content">
    <h2 class="title"><%= I18n.t :about -%></h2>
    <div class="inner">
      <p class="first">
	Nodecast is a software from Fr&eacute;d&eacute;ric Logier (fredix at gmail dot com)
      </p>

      You can help the development with a bitcoin donation :     

      <p>bitcoin address : <b>1H53MyE77wcemBY3j1xH8iHHmBQsA4X2dd</b><p>

      <a href="http://www.gnu.org/licenses/agpl.html" target="_BLANK"><img alt="agpl" src="/images/agplv3-88x31.png" align="right"></a>
    </div>
  </div>
</div>



