<div class="block" id="block-text">
  <div class="content">
    <h2 class="title"><%= I18n.t :contact -%></h2>
    <div class="inner">
      <p class="first">
	Comments are welcome to fredix at gmail dot com
      </p>
    </div>
  </div>
</div>



