<div class="block" id="block-text">
  <div class="content">
    <h2 class="title"><%= I18n.t(:download) %></h2>
    <div class="inner">
      <p class="first">
	Nodecast GUI est le client de bureau du service web
	Nodecast. Il extrait des informations syst&egrave;mes de l'h&ocirc;te et
	les transmet &agrave; Nodecast. Un binaire multi-plateforme
	sera disponible lorsque le client sera stable.
	<ul class="list">
	  <li>
	    <a href="http://gitorious.org/nodecast/nodecast-gui" target="_BLANK">Sources<a/>
	  </li>
	</ul>
      </p>

    </div>
  </div>
</div>
