<div class="block" id="block-text">
  <div class="content">
    <h2 class="title"><%= I18n.t(:download) %></h2>
    <div class="inner">
      <p class="first">
	Nodecast GUI is the desktop client of the web service Nodecast. It extract some system informations from the
	host and send them to Nodecast. A binary client will be release as soon as possible.
	<ul class="list">
	  <li>
	    <a href="http://gitorious.org/nodecast/nodecast-gui" target="_BLANK">Sources<a/>
	  </li>
	</ul>
      </p>

    </div>
  </div>
</div>
