<div class="block" id="block-text">
  <div class="content">
    <h2 class="title"><%= I18n.t(:overview) %> ?</h2>
    <div class="inner">
      <p class="first">
	Nodecast is a census and monitoring tool for your hosts. Signup, install client, and monitors them all.<br />
	It lets you count and publish, or not, statistics. Also it's a social hosts network, because your hosts can have some friends too !
	<br />
	<br />
	Count your Linux distribution (MacOS X, *BSD, Windows (really?) maybe later).
      </p>

      <h2>Nodecast uses these free software :</h2>

	<p>
	  <h3>Server side</h3>  
	  <table>
	    <tr>
	      <td align="center">
		<a href="http://www.debian.org" target="_BLANK"><img src="/images/os_logo/debian.png"></img><a/>
		  <br />
	      </td>
	    <td align="center">
	      <a href="http://www.rubyonrails.org"
		 target="_BLANK"><img src="/images/rails.png"></img><a/>
		<br />Ruby on Rails
	    </td>
	      <td align="center">
		<a href="http://www.mongodb.org" target="_BLANK"><img src="/images/PoweredMongoDBbeige50.png"></img><a/>
		  <br />
		  mongoDB	    
		  <td align="center">
		    <a href="http://mongoid.org/" target="_BLANK"><img src="/images/mongoid.png"></img><a/>
		      <br />
		      mongoid	    
		  </td>
	    </tr>
	    <tr>
	      <td align="center">
		<a href="http://www.sinatrarb.com" target="_BLANK"><img src="/images/sinatra.gif"></img><a/>
		  <br />
		  Sinatra	    
	      </td>
	      <td align="center">
		<a href="http://code.macournoyer.com/thin/" target="_BLANK"><img src="/images/thin.gif"></img><a/>	    
		  <br />
		  Thin
	      </td>
	      <td align="center">
		<a href="http://nginx.org" target="_BLANK"><img src="/images/nginx-logo.png"></img><a/>	    
		  <br />
		  Nginx
	      </td>
	      <td align="center">
		<a href="http://www.capify.org" target="_BLANK"><img src="/images/capistrano.png"></img><a/>	    
		  <br />
		  Capistrano
	      </td>
	    </tr>
	    <tr>
	      <td align="center"><a href="http://www.zeromq.org" target="_BLANK"><span style="font-size: 1.5em"><strong><span style="color: red">ØMQ</span></strong></span><a/>	    
	      </td>
	      </tr>
	  </table>
	</p>
	
	<p>
	  <h3>Client side (browser / desktop)</h3>  
	  <ul class="list">
	    <li>
	    <a href="http://code.google.com/p/flot/" target="_BLANK">Flot<a/>	    
	  </li>
	    <li>
	    <a href="http://gitorious.org/nodecast/nodecast-gui" target="_BLANK">Nodecast GUI<a/>	    
	      (<a href="http://qt.nokia.com" target="_BLANK">Qt<a/> / 
	    <a href="http://support.hyperic.com/display/SIGAR/Home" target="_BLANK">SIGAR<a/>)
	  </li>
	</ul>
	</p>

    </div>
    <h2>Architecture</h2>
    <img src="/images/architecture2.png"></img>
  </div>
</div>
