<div class="block" id="block-text">
  <div class="content">
    <h2 class="title"><%= I18n.t :privacy -%></h2>
    <div class="inner">
      <p class="first">
	All your datas 'are' belong to us.
	<br />
	<br />
	Joke ! not at all of course :)
      </p>
    </div>
  </div>
</div>
