<div class="block notice"> 
  <h4>Don</h4> 
  <p>Vous pouvez soutenir le developpement de ce logiciel via un don  <a href="http://bitcoin.org/">bitcoin</a></p>

  <p>adresse bitcoin : <b>1H53MyE77wcemBY3j1xH8iHHmBQsA4X2dd</b><p>

  <h4>Sponsor</h4>
  <p>h&eacute;berg&eacute; par <a href="http://fsffrance.org/news/article2011-04-28.fr.html"><img src="/images/fsffrance-logo-blue.png" border="0" alt="FSF France"></a>
    </p>
</div> 
