<div class="block notice"> 
  <h4>Donation</h4> 
  <p>You can help this software by donate through <a href="http://bitcoin.org/">bitcoin</a></p>

  <p>bitcoin address : <b>1H53MyE77wcemBY3j1xH8iHHmBQsA4X2dd</b><p>

  <h4>Sponsor</h4>
  <p>hosted by <a href="http://fsffrance.org/news/article2011-04-28.fr.html"><img src="/images/fsffrance-logo-blue.png" border="0" alt="FSF France"></a>
    </p>
</div> 
